* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111111;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header {
    background-color: #151515;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    align-items: center;
    color: #00c431;
    display: flex;
}

.menu a {
    font-size: 14px;
    text-decoration: none;
    color: #E5E5E5;
    margin: 0 5px 0 0;
}

.menu a:hover {
    color: #b3b3b3;
}

main {
    min-height: calc (100vh - 66.31 - 76.31 );
    padding: 30px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container {
    align-items: center;
    width: 70%;
    
}

.catalogoImagens:hover {
    box-shadow: 0px 0px 10px #808080;
    
}

.catalogoImagens {
    margin: 2%;
    border-radius: 3px;
    border: 1px solid #111111;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    align-items: center;
    color: #808080;
    background-color: #151515;
    display: flex;
    padding: 1% 10%;
    justify-content: center;
    margin-bottom: 0;
}

.itensRodape {
    text-align: center;
    width: 100%;
}

.icone {
    height: 25px;
    width: 25px;
    margin: 8px 6px;
}

.insta {
    height: 24px;
    width: 24px;
}